body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
}

/* main {
  flex-grow: 1;
} */

img {
	display: block;
  max-width: 100%;
}
.card.no-gap {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
 }

ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

/* top-line-header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  justify-content: space-between;
  align-items: baseline;
  text-decoration: none;
}

.container{
   width: 1158px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

style {
  display: flex;
  align-items: center;
}

.menu {
 align-items: center;
 /* padding: 24px 0; */
 display: flex;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5; 
margin-right: 76px;
padding-top: 24px;
padding-bottom: 24px;
text-decoration: none;
}

.studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42; }

.menu-elements {
flex-direction: column;
background: #fff;
text-align:  center;
line-height: normal;
display: flex;
flex-direction: row;
gap: 40px;
}

.email-telefon {
    background: #fff;
    color: #434455 ;
    margin-right: 40px;
    text-decoration: none;
  }

  .email-telefon:last-child {
    margin-right: 0;
  }
  /* .menu-nav-index */
  .menu-nav-index{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* color: #2e2f42;
    margin-right: 40px; */
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    text-decoration: none;
    }
  /* .menu-nav-index:last-child {
    margin-right: 0;
  } */
  .menu-nav-index:hover{
    color: #404bbf;
  }
  .menu-nav-index:focus{
    color: #404bbf;
  }
 /* .menu-nav-index */
 
.contacts {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
font-style: normal;
margin-left: auto;
}

.social-links { 
  display: flex;
  gap: 40px;
  margin: 0;
}

.social-links :hover {
  color: #404bbf;
}
.social-links :focus {
  color: #404bbf;
}

/* <!-- Section-1 --> */


.box-hero-image {
box-sizing: content-box;
background: #2e2f42;
padding-top: 188px;
padding-bottom: 188px;

background-image: url(../images/people-office1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;

background-image: linear-gradient(
	to bottom, 
	rgba(46, 47, 66, 0.7), 
	rgba(46, 47, 66, 0.7)
  ),
	url(../images/people-office1.jpg);

  max-width: 1440px;


}

.hero-image {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height:  1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px; 

  margin: 0 auto;
  padding-bottom: 48px;
  
  }
.botton {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.botton:hover {
  background-color: #404BBF;
  cursor: pointer;

}
.botton:focus {
  background-color: #404bbf;
  }

/* <!-- Section-2 --> */

.container .light-bg {
  padding-top: 120px;
  padding-bottom: 120px;
}
.light-bg {
  /* width: 1440px;
  height: 732px;  */
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages  {
display: none;
background-color: #F4F4FD;
margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-box {
 display: flex;
 gap: 24px;
}

.text-box-element {
  width: calc((100% - 72px) / 4); 
}

.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Sektion-3 --> */
.section-sss {
  background-color: #F4F4FD;
  padding: 120px 0;
}

.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.cards-workers {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.image {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4); 

}

.card-info-workers {
  border-radius: 0px 0px 4px 4px;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* NEW */
.card.no-gap {
  display: block;
}
.card-image {
  max-width: 100%;
}
/* NEW */
.headteam {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-align: center; 
margin-bottom: 8px
}

.position {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

/* <!-- Sektion-4 --> */

.section-ssss{
  padding: 120px 0 120px 0;
}

.container-four {
  padding-top: 120px;
  padding-bottom: 120px;
  }


.our-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}

.card-set{
  display: flex;
  flex-wrap: wrap; 
  column-gap:  24px;
  row-gap: 48px; 
}

.item {
 width: calc((100% - 48px) / 3);
}

.app-title-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;

}

.cart-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.cart-content {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* <!-- Footer --> */

.footer {
background: #2e2f42;
/* width: 1440px;
height: 312px; */
padding: 100px 0;

}

.footer-text {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
max-width: 264px;

}

.studio-footer {
  color: #f4f4fd;
  display: inline-block; 
}
